.services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 24px;

    h2 {
        margin: 24px 0px;
    }
}

.services_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.services_content {
    // border: solid 1px #000000;
    max-width: 22%;
    overflow: hidden;
    min-height: 361px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    h3 {
        background-color: #94C11F;
        margin: 0;
        padding: 12px;
    }

    ul {
        padding-inline-start: 40px;
        padding-right: 40px;
    }
}