.atf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    background-image: url(/assets/img/atf_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.atf_headline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #94C11F;
    text-shadow: 2px 2px #000000;

    h2 {
        margin: 10px 0 0 0;
        font-weight: 400;
    }
}

.btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 5dvh;
}